@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Sarala&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body{
    width: auto;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    
 background: #201b2c;
 
}

.container{
    width: 90%;
    height: 90vh;
    display: flex;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.212);
}

.form-image{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #15051f;
    padding: 1rem;
}

.form-image img{
    width: 31rem;

}

.form{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #fff;
    padding: 3rem;

}

.form-header{
    margin-bottom: 3rem;
    display: flex;
    justify-content: space-between;
}

.login-button{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.login-button button{
    background-color: #00ff88;
    border: none;
    padding: 0.4rem 1rem;
    border-radius: 5px;
    cursor: pointer;


}

.login-button a{
    color: #2f2841; 
    text-decoration: none;
    font-weight: 500;
    font-family: 'Righteous', cursive;
    font-family: 'Roboto', sans-serif;
    font-family: 'Sarala', sans-serif;
}

.login-button button:hover{
background-color: #7c43c7;

}

.form-header h1::after{
    content: '';
    display: block;
    width: 5rem;
    height: 0.3rem;
    background-color: #7c43c7;
    margin: 0 auto;
    position: absolute;
    border-radius: 10px;
}

.input-group{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 1rem 0;
}

.input-box{
   display: flex;
   flex-direction: column;
   margin-bottom: 1.1rem;

}

.input-box input{
    margin: 0.6rem 0;
    padding: 0.8rem 1.2rem;
    border: none;
    border-radius: 10px;
    box-shadow: 1px 1px 6px #000001;
    font-size: 0.8rem;
}

.input-box input:hover{
   background-color: #eeeeee75;

}

.input-box input:focus-visible{
    outline: 1px solid #7c43c7;
}
.input-box label,
.gender-title h6{
    font-size: 0.75rem;
    font-weight: 600;
    color: #000000c0;
}

.input-box input::placeholder{
    color: #000000be;
}

.gender-group{
    display: flex;
    justify-content: space-between;
    margin-top: 0.62rem;
    padding: 0 .5rem;
}

.gender-input{
    display: flex;
    align-items: center;
}

.gender-input input{
  margin-right: 0.35rem;
}

.gender-input label{
    font-size: 0.81rem;
    font-weight: 600;
    color: #000000c0;
}

.continue-button button{
    width: 100%;
    margin-top: 2.5rem;
    border: none;
    padding: 0.8rem;
    border-radius: 5px;
    cursor: pointer;
    background-color: #00ff88;

}

.continue-button button:hover{
    background-color: #7c43c7;
}

.continue-button a{
    color: #2f2841;
    text-decoration: none;
    font-size: 0.93rem;
    font-weight: 500;
    font-family: 'Righteous', cursive;
    font-family: 'Roboto', sans-serif;
    font-family: 'Sarala', sans-serif;

}

@media screen and (max-width: 1330px) {
    .form-image {
        display: none;
    }
    .container {
        width: auto;
    }
    .form {
        width: 94%;
    }
}

@media screen and (max-width: 1064px) {
    .container {
        width: 115%;
        height: 99%;
    }
    .input-group {
        flex-direction: column;
        z-index: 3;
        padding-right: 4rem;
        max-height: 10rem;
        overflow-y: scroll;
        flex-wrap: nowrap;
    }
    .gender-inputs {
        margin-top: 5rem;
    }
    .gender-group {
        flex-direction: column;
    }
    .gender-title h6 {
        margin: 0;
    }
    .gender-input {
        margin-top: 0.5rem;
    }
}